<div th:fragment="clientTable">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">company name</th>
            <th scope="col">rebate</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="client: ${clients}">
            <td th:text="${client.id}"/>
            <td th:text="${client.name}"/>
            <td th:text="${client.rebateType}"/>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="productTable">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">price</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="product: ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.price}"/>
            <td th:text="${product.name}"/>
            <td th:text="${product.description}"/>
        </tr>
        </tbody>
    </table>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Upload Products</h5>
            <h6 class="card-subtitle mb-2 text-muted">csv file</h6>
            <form method="POST" action="/products/upload" enctype="multipart/form-data" style="margin-top: 10px;">
                <input type="file" name="file"/><br/><br/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>

<div th:fragment="title">
    <h1 style="text-align: center; margin-top: 50px" th:text="${message}"></h1>
</div>
